.app {
  font-family: sans-serif;
  text-align: center;
}
.close-modal-button-box .MuiButtonBase-root {
  width: 30px;
  min-width: 30px;
  height: 30px;
  /* border: 2px solid red; */
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -3px;
  transition: all ease-in 0.2s;
}
.close-modal-button-box .MuiButtonBase-root:active {
  transform: scale(0.95);
  transition: all ease-out 0.2s;
}

.action-buttons .MuiButton-root {
  min-width: 82px;
  min-height: 31px;
}
