/* .app {
  font-family: sans-serif;
  text-align: center;
}
.close-modal-button-box .MuiButtonBase-root {
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -3px;
  transition: all ease-in 0.2s;
}
.close-modal-button-box .MuiButtonBase-root:active {
  transform: scale(0.95);
  transition: all ease-out 0.2s;
}

.action-buttons .MuiButton-root {
  min-width: 82px;
  min-height: 31px;
}
 */
* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: black;
}
a {
	text-decoration: none;
	color: inherit;
}

.flex-center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
