.mainNav {
  background: #09436d;
  color: white;
  display: flex;
  /* justify-content: flex-start; */
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 0px;
  /* padding: 10px; */
  width: 100vw;
  position: relative;
}
